<?xml version="1.0" encoding="UTF-8"?>
<web-app>
	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>test.LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattren>/xyz</url-pattren>
	</servlet-mapping>
	<servlet>
		<servlet-name>DisplayServlet</servlet-name>
		<servlet-class>test.DisplayServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DisplayServlet</servlet-name>
		<url-pattren>/dis</url-pattren>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>Login.html</welcome-file>
	</welcome-file-list>
</web-app>